* {
    margin: 0;
    padding: 0;
}

.fa-bitcoin:before {
    content: "\f15a" !important;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn.btn-green {
    background: #71C266;
    color: #fff;
    font-family: Open sans, sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: .25s;
}

.btn.btn-blue {
    background: #5793D1;
    color: #fff;
    font-family: Open sans, sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: .25s;
}

.head {
    width: 100%;
    margin: 0;

    .head-top {
        .menu-top {
            background-color: #282a35;

            ul {
                display: flex;

                li {
                    width: 10%;
                    display: inline-block;
                    vertical-align: top;
                    width: 10%;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-family: 'uni_sans_lightregular', Arial, Helvetica, sans-serif;
                    text-align: center;
                    border-top: 1px solid #32343e;
                    border-right: 1px solid #32343e;
                    margin-right: -5px;

                    a {
                        color: #babbbe;
                        display: block;
                        /* width: 100%; */
                        padding: 10px 0;
                        text-decoration: none;
                        border-bottom: 4px solid transparent;
                    }
                }
            }
        }
    }

    .head-center {
        .warp {
            padding-bottom: 9px;
            margin: 40px 0 20px;
            border-bottom: 1px solid #eee;
            height: 65px;
            position: relative;
            width: 98%;
            margin-left: auto;
            margin-right: auto;

            .sub-nav {
                &:before {
                    display: table;
                    content: " ";
                }

                .navbar-nav {
                    margin-top: -12px;
                    float: right;
                    list-style: none;
                    color: #fff;

                    flex-direction: inherit !important;

                    li {
                        a {}

                    }

                    .sign-up-link {
                        background: #00bdca;
                        padding: 7px 12px;
                        border-radius: 3px;
                        transition: all .2s ease;
                        -webkit-transition: all .2s ease;
                        border: 1px solid #00bdca;

                        &:hover {
                            color: #fff;
                            background: #0198A3;

                        }

                        a {
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }

                    .link-hide {
                        background: #00BCC9;
                        margin-left: -12px;
                        border-radius: 0 3px 3px 0;
                        position: relative;
                        padding-left: 7px !important;
                        padding: 11px 10px 9px 8px;
                        -webkit-transition: all .2s ease;
                        color: #fff;

                        &:hover {
                            background: #0198A3;

                        }
                    }

                    &::before {
                        display: table;
                        content: " ";
                    }

                    li {
                        width: auto;
                        padding-left: 9px;
                        padding-top: 10px;
                        padding-bottom: 7px;
                        color: #232a34;
                        position: relative;
                        display: block;
                        vertical-align: middle;
                        min-width: 110px;
                        text-align: right;
                    }
                }
            }

            .links-block {
                position: absolute;

                .cex-logo {
                    width: 35px;
                    height: 35px;
                    background: url(/common/images/logo.svg) no-repeat;
                    margin-left: 16px;
                    display: block;
                    float: left;
                }


                .top-links {
                    color: #404D60;
                    padding-top: 7px;
                    float: left;
                    margin-left: 24px;
                    text-decoration: none;

                    &:hover {
                        color: #00BCC9;
                    }
                }
            }
        }
    }

    .head-bottom {
        background: #EFF2F4;
        margin-top: -20px;
        padding: 5px 0;
        color: #4E5859;

        .modal-title {
            color: #7b7979;
            font-family: Open sans, sans-serif;
            font-size: 18px;
            margin: 0;
            line-height: 1.42857143;
        }

        .modal-footer {
            display: block !important;
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;

        }

        .modal-header .close {
            padding: 0.5rem !important;
            margin: -0.5rem 0rem 3rem auto !important;
            -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
            float: right;
            font-size: 13px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
        }

        #exampleModal2 {
            .modal-content {
                height: auto !important;
                padding: 0px !important;
                padding-top: 16px !important;

                .modal-header {
                    height: 30px;
                    padding: 0px 13px 0px !important;
                }
            }
        }

        .modal-dialog {
            margin: 30px 34% auto;

            .modal-content {
                width: 600px;
                height: 375px;
                font-size: 23px;
                text-align: center;
                color: #657483 !important;
                font-weight: 400;
                padding: 25px 0;
                box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            }
        }



        .single-bundle-currency-dropdown {
            position: relative;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            color: #0F1821;



            .symbol1-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: none;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #FCFCFC;
                box-shadow: 0 10px 20px 0 rgba(38, 56, 80, 0.1);

                z-index: 91;

                .symbol1-list-item {
                    width: 100%;
                    padding: 14px 9px 14px 15px;
                    background-color: #FCFCFC;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.3s ease;
                }


            }


            .open {
                display: block
            }

            .bundle-symbol-dropdown-btn {
                width: 100%;
                padding: 14px 9px 14px 15px !important;
                border: 1px solid #E6E6E6;
                border-radius: 2px;
                background-color: #FCFCFC;
                position: relative;
                text-align: left;

                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 45%;
                    right: 17px;
                    border-right: 2px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                    border-left: none;
                    border-top: none;
                    transform: translateY(-50%) rotate(45deg);
                    transition: transform 0.25s linear;
                }
            }
        }

        .bch {
            position: relative;

            .fa-bitcoin {
                position: absolute;
                bottom: 0;
                top: 0;
                margin: auto;
                height: 15px;
                left: -8px;
                z-index: 11111106;
                background-color: #ffffff42;
                width: 8px;
            }
        }

        .exchange {
            float: left;
            margin-top: 10px;
            font-size: 11px;
            margin-left: 0;
            display: flex;

            .icn-BCH:before {
                content: "\e903";
            }



            .exchange__list {
                display: inline-block;
                padding: 0;
                margin-right: 20px;
                color: #4E5859;
                font-size: 15px;
            }

            .exchange__list span.color-curr {
                margin-right: 3px;
                padding: 5px 10px;
                border-radius: 50px;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                display: none;
            }
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }



        a.btn.btn-green.deposit-header {
            background: #71C266;
            color: #fff;
            font-family: Open sans, sans-serif;
            font-weight: 600;
            font-size: 14px;
            transition: .25s;

            &::after {
                content: '';
                width: 21px;
                height: 19px;
                background: url(/common/images/deposit.svg) no-repeat;
                background-size: 75%;
                position: absolute;
                margin-left: 10px;
            }
        }

        a.btn.btn-blue.withdraw-header {
            background: #5793D1;
            color: #fff;
            font-family: Open sans, sans-serif;
            font-weight: 600;
            font-size: 14px;
            transition: .25s;

            &::after {
                content: '';
                width: 21px;
                height: 19px;
                background: url(../images/withdraw.svg) no-repeat;
                background-size: 75%;
                position: absolute;
                margin-left: 10px;
            }
        }

        a.btn.btn-gray.transfer-header {
            background: #8b8d8f;
            color: #fff !important;
            font-family: Open sans, sans-serif !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            transition: .25s !important;

            &::after {
                content: '';
                width: 18px;
                height: 19px;
                background: url(/common/images/transfer.png) no-repeat;
                background-size: 100%;
                position: absolute;
                margin-left: 10px;
                margin-top: 1px;
            }
        }
    }
}

.banner {
    margin-bottom: 12%;

    h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .name-user {
        margin-top: 10px;
        font-size: 18px;
        color: #04bcc6;
        font-family: Open sans, sans-serif;
        font-weight: 100;
    }

    .single-bundle-currency-dropdown {
        position: relative;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #0F1821;



        .symbol1-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #FCFCFC;
            box-shadow: 0 10px 20px 0 rgba(38, 56, 80, 0.1);

            z-index: 91;

            .symbol1-list-item {
                width: 100%;
                padding: 14px 9px 14px 15px;
                background-color: #FCFCFC;
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;
            }


        }


        .open {
            display: block
        }

        .bundle-symbol-dropdown-btn {
            width: 100%;
            padding: 14px 9px 14px 15px;
            border: 1px solid #E6E6E6;
            border-radius: 2px;
            background-color: #FCFCFC;
            position: relative;
            text-align: left;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 45%;
                right: 17px;
                border-right: 2px solid rgba(0, 0, 0, 0.2);
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                border-left: none;
                border-top: none;
                transform: translateY(-50%) rotate(45deg);
                transition: transform 0.25s linear;
            }
        }
    }

    .btn-green {
        background: #71C266;
        color: #fff;
        font-family: Open sans, sans-serif;
        font-size: 14px;
        transition: .25s;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    form {
        input[type="file"] {
            font-size: 13px;
        }
    }

    .sel1 {
        color: #657382;
        text-align: left;
        font-weight: 400;
        font-family: Open sans, sans-serif;
        float: left;
    }
}

.footer {
    font-size: 12px;
    color: #fff;
    background: #282E37;
    position: relative;
    z-index: 100;

    .col-xs-6 {
        width: 50%;
    }

    .span3 {
        h4 {
            text-transform: uppercase;
            font: 14px/16px 'source_sans_proregular', Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -ms-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
        }

        ul {
            text-align: left;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: .4em;
                list-style: none;
                font-size: 11px;
                line-height: 20px;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    background-color: transparent;
                }
            }
        }
    }

    .foot-pad {
        padding: 25px 30px 25px;
        font-size: 13px;
        color: #BBB;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .foot-top {
        padding: 25px 30px 25px;
        font-size: 13px;
        color: #BBB;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 0;
    }
}